@using Authentication.Models;
@using LNF;

@model HomeModel
@{
    ViewBag.Title = "LNF Online Services Log In";
    string errmsg = ViewBag.ErrorMessage;
    bool isprod = ServiceProvider.Current.IsProduction();
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/login.css")">

    <style>
        body {
            overflow:hidden;
        }

        .debug {
            width: 700px;
            height: 304px;
            border: 2px solid #808080;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -350px;
            margin-top: -152px;
            background-color: #f5f5f5;
        }

            .debug .messages {
                white-space: pre;
                overflow: auto;
                height: 260px;
                padding: 10px;
                font-family: monospace;
                margin-bottom: 5px;
            }
    </style>
}

<div class="login-container">
    <div class="login">
        <div class="login-logo"></div>
        <div class="login-title login-text">Online Services</div>
        <div class="kiosk-message">
            @ViewBag.KioskMessage
        </div>

        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal login-form" }))
        {
            @Html.HiddenFor(x => x.ReturnServer)
            @Html.HiddenFor(x => x.ReturnUrl)
            @Html.HiddenFor(x => x.CurrentIP, new { @class = "ip-addr" });

            <div class="form-group">
                <label class="control-label col-md-offset-3 col-md-2 login-text">Username</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", autocorrect = "off", autocapitalize = "none", spellcheck = "false" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-offset-3 col-md-2 login-text">Password</label>
                <div class="col-md-3">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-2">
                    <button type="submit" class="login-button btn btn-primary"></button>
                </div>
            </div>
        }

        <div class="login-alerts">
            @if (!string.IsNullOrEmpty(errmsg))
            {
                <div class="alert alert-danger" role="alert">
                    @errmsg
                </div>
            }

            @if (!isprod)
            {
                <div class="alert alert-danger" role="alert">
                    <strong style="font-size: larger;">THIS IS THE DEVELOPMENT SITE!</strong><br /><br />
                    ANY RESERVATIONS MADE ON THE DEVELOPEMENT SITE ARE NOT VALID.<br /><br />
                    IF YOU CAME HERE BY ACCIDENT PLEASE GO <a href="https://ssel-apps.eecs.umich.edu/login">HERE</a> TO LOG IN.
                </div>
            }
        </div>
    </div>
</div>

<div class="debug" style="display: none;">
    <div class="messages"></div>
    <button type="button" class="debug-close-button" style="margin-left: 5px;">Close</button>
</div>

@section scripts {
    <script>
        if (window.location != window.top.location)
            window.top.location = '/login';

        if (Modernizr.flexbox)
            $(".debug .messages").append("<div>flexbox</div>");
        else
            $(".debug .messages").append("<div>no-flexbox</div>");

        if (Modernizr.flexboxlegacy)
            $(".debug .messages").append("<div>flexboxlegacy</div>");
        else
            $(".debug .messages").append("<div>no-flexboxlegacy</div>");

        $(".debug .messages").append($("<div/>").html(window.navigator.userAgent));

        $(".debug .messages").append($("<div/>").html(window.location.href));
        $(".debug .messages").append($("<div/>").html($(".ip-addr").val()));

        $(window).on("keydown", function (e) {
            if (e.shiftKey == true && e.keyCode == 38)
                $(".debug").show();
        });

        $(".debug-close-button").on("click", function (e) {
            $(".debug").hide();
        });
    </script>
}